/****** Serbisyo.com styles **********/

body {
	background-color: #E5E5E5;
	font-family: Arial, Helvetica, sans-serif;
}

div {
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.container-fix {
	overflow: hidden;
}

.pre-description {
    white-space: pre-wrap;
}

.cursor-pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.text-nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
}

.opacity0 {
	opacity: 0;
	position: absolute;
}

.opacity1 {
	opacity: 1;
	position: relative;
}

.panel-body {
	overflow: hidden;
	width: 100%;
}

/** colors and backgrounds **/

.serbisyo-color {
	color: #9DC3E6;
}

.serbisyo-background-color {
	background: #9DC3E6;
}

.color-primary {
	color: #2196f3;
}

.background-color-primary {
	background: #2196f3;
}

.color-success {
	color: #439a46;
}

.background-color-success {
	background: #439a46;
}

.color-error {
	color: #e51c23;
}

.background-color-error {
	background: #e51c23;
}

.color-warning {
	color: #e08600;
}

.background-color-warning {
	background: #e08600;
}

.black {
	color: #000;
}

.background-color-black {
	background: #000;
}

.white {
	color: #fff;
}

.background-color-white {
	background: #fff;
}

/** whiteframe **/

.whiteframe-z1 {
	webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.whiteframe-z2 {
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.whiteframe-z3 {
	-webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.whiteframe-z4 {
	-webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.whiteframe-z5 {
	-webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.whiteframe-z6 {
	-webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.whiteframe-z7 {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 27px 24px 0px, rgba(0, 0, 0, 0.219608) 0px 40px 77px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 27px 24px 0px, rgba(0, 0, 0, 0.219608) 0px 40px 77px 0px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 27px 24px 0px, rgba(0, 0, 0, 0.219608) 0px 40px 77px 0px;
}

/** custom button **/

a.btn-flat {
	text-decoration: none;
}

.btn-flat {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 16px;
	font-size: 13px;
	line-height: 1.846;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/** custom toastr **/

#toast-container > div {
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
}

.toast-success {
	background-color: #439a46;
}

.toast-error {
	background-color: #e51c23;
}

.toast-info {
	background-color: #2196f3;
}

.toast-warning {
	background-color: #e08600;
}

/** content-container **/

.content-container {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 15px;
	margin-top: 0px;
	margin-bottom: 17px;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

/** pagination **/

.pagination {
	margin: 0 0 20px 0;
}

.pagination > li > a {
	border-top: none;
	border-bottom: none;
}

.pagination > li:first-child > a {
	border-left: none;
}

.pagination > li:last-child > a {
	border-right: none;
}

.num-hightlight {
	background: #E5E5E5;
	padding: 5px 7px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.results-found > div {
	padding: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/** border-radius **/

.border-radius-3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.border-radius-top-3 {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

/** serbisyo-modal **/

.serbisyo-modal {
	display: none;
	background: rgba(255,255,255,.5);
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.serbisyo-modal-content {
	/*width: 600px;*/
	position: relative;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
    /*-webkit-animation: serbisyo-modal-content-scale-up .3s forwards;
    -moz-animation: serbisyo-modal-content-scale-up .3s forwards;
    -o-animation: serbisyo-modal-content-scale-up .3s forwards;
    animation: serbisyo-modal-content-scale-up .3s forwards;
*/	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.serbisyo-modal-content.scale-up {
    -webkit-animation: serbisyo-modal-content-scale-up .3s forwards;
    -moz-animation: serbisyo-modal-content-scale-up .3s forwards;
    -o-animation: serbisyo-modal-content-scale-up .3s forwards;
    animation: serbisyo-modal-content-scale-up .3s forwards;
}

.serbisyo-modal-content.scale-down {
    -webkit-animation: serbisyo-modal-content-scale-down .05s forwards;
    -moz-animation: serbisyo-modal-content-scale-down .05s forwards;
    -o-animation: serbisyo-modal-content-scale-down .05s forwards;
    animation: serbisyo-modal-content-scale-down .05s forwards;
}

@-webkit-keyframes serbisyo-modal-content-scale-up {
    0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
    } 100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    }
}

@-moz-keyframes serbisyo-modal-content-scale-up {
    0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
    } 100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    }
}

@-0-keyframes serbisyo-modal-content-scale-up {
    0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
    } 100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    }
}

@keyframes serbisyo-modal-content-scale-up {
    0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
    } 100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    }
}

@-webkit-keyframes serbisyo-modal-content-scale-down {
    0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    } 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
    }
}

@-moz-keyframes serbisyo-modal-content-scale-down {
    0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    } 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);    }
}

@-0-keyframes serbisyo-modal-content-scale-down {
    0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    } 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
    }
}

@keyframes serbisyo-modal-content-scale-down {
    0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
    } 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
    }
}

.dialog-shadow-1 {
	-webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.dialog-shadow-2 {
	-webkit-box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
  	box-shadow: 0 2px 40px 0 rgba(0,0,0,.4);
}

/** navbar **/

.navbar-right.hidden-xs .dropdown-toggle {
	max-height: 64px;
	overflow: hidden;
}

.navbar-brand {
	padding: 15px;
}

.logo {
	max-height: 35px;
}

.nav-image {
	max-height: 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: rgba(0,0,0,.1);
}

/** header-search **/

.header-search {
	margin-bottom: 10px;
	padding-top: 20px;
}

.header-search div,
.header-search input.form-control {
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.header-search .searchkey {
	background: #fff;
}

.header-search .location-input {
	background: #ebebeb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 100px;
	position: absolute;
	top: 2px;
	z-index: 99;
	right: 65px;
	padding: 0;
}

.header-search .location-input input.form-control {
	outline: 0;
	font-size: 10px;
	padding: 0;
	height: 25px;
}

.header-search .location-input input.form-control:not(:first-child):not(:last-child) {
	-webkit-border-radius: 0 0 2px;
	-moz-border-radius: 0 0 2px;
	border-radius: 0 0 2px;
}

.header-search .location-input .input-group-addon {
	height: 25px;
	padding: 0 5px;
	color: #444;
}

.popup-location-error {
	background: #e51c23;
	color: #fff;
	display: none;
	top: 25px;
	left: -10px;
	font-size: 12px;
	width: 185px;
	opacity: 0;
}

.popover.bottom.popup-location-error > .arrow:after {
	border-bottom-color: #e51c23;
}

.header-search ul.dropdown-menu {
	width: 214px;
	height: 300px;
	margin-left: -23px;
	overflow: scroll;
}

/** go to top **/

.go-to-top {
	position: fixed;
	right: 5px;
	bottom: 5px;
	background: rgba(0,0,0,.8);
	padding-right: 10px;
	padding-left: 12px;
	padding-top: 0;
	padding-bottom: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #E5E5E5;
	cursor: pointer;
	z-index: 1000;
	opacity: 0;
}

/** serbisyo-ads **/

.search-filters,
.search-results {
	float: left;
	position: relative;
}

.search-filters > .content-container {
	background: #FAFAFA;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

.search-filters > .content-container > .form-group {
	margin-bottom: 5px;
}

.search-filters .radio {
	padding-left: 0;
	margin-top: -5px;
	margin-bottom: 0;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

.search-filters .content-container:not(:first-child) .radio {
	-webkit-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear;
}

.search-filters .radio label {
	min-height: 23px;
	padding-left: 0;
}

.show-category label {
	font-weight: bold;
}

.show-category label:hover {

}

@media (max-width: 992px) {
	.search-filters {
		height: 60px;
	}

	.search-filters .content-container {
		float: left;
		z-index: 700;
		cursor: pointer;
		height: 47px;
		-webkit-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}

	.search-filters .content-container:last-child {
		margin-left: 10px;
		z-index: 600;
	}

	.search-filters .content-container.content-1 {
		height: 190px;
	}

	.search-filters .content-container.content-2 {
		height: 615px;
	}
}

@media (max-width: 430px) {
	.search-filters {
		height: 130px;
		float: none;
	}

	.search-filters .content-container {
		float: none;
		position: absolute;
	}

	.search-filters .content-container:last-child {
		margin-left: 0;
		top: 65px;
	}

	.search-filters .content-container.content-1 {
		height: 190px;
	}

	.search-filters .content-container.content-2 {
		height: 615px;
	}
}

.sponsored-container {
	position: relative;
}

.sponsored {
	position: absolute;
	margin-top: -6px;
	right: -55px;
	background: rgba(0,0,0,.3);
	padding: 2px 40px;
	color: #fff;
	font-size: 10px;
	-webkit-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	transform: rotate(35deg);
}

.sponsored-body {
	background: #FAFAFA;
}

.serbisyo-ads {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.serbisyo-ads .panel-heading {
	background: #fff;
	border-top-right-radius: 3px;
  	border-top-left-radius: 3px;
}

.serbisyo-ads .panel-body {
	border-top: 1px solid #eeeeee;
}

.serbisyo-ads .panel-body:not(.no-result-found):hover {
	background: #F5F5F5;
	-webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.serbisyo-ads .panel-body.panel-body-last:hover {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.serbisyo-ads .thumbnail {
	width: 110px;
	margin-bottom: 0;
	float: left;
}

.serbisyo-ads .serbisyo-ads-content {
	width: calc(100% - 120px);
	float: left;
	margin-left: 10px;
}

.serbisyo-ads .content {
	float: left;
	margin-top: -10px;
	line-height: 1.4em;
}

.serbisyo-ads .content:first-child {
	width: calc(100% - 210px);
	margin-right: 10px;
}

.serbisyo-ads .content:last-child {
	width: 200px;
}

.serbisyo-ads .content h6 {
	font-size: 16px;
	margin-bottom: 5px;
}

@media (max-width: 660px) {
	.serbisyo-ads .content:first-child {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.serbisyo-ads .content:last-child {
		width: 100%;
	}

	.serbisyo-ads .content:last-child h6 {
		font-size: 14px;
	}
}


/** job opening **/

.serbisyo-ads .job-opening .content-title,
.serbisyo-ads .job-opening .content-address,
.serbisyo-ads .job-opening .content-date {
	float: left;
}

.serbisyo-ads .job-opening .content-title {
	width: calc(100% - (250px + 85px));
}

.serbisyo-ads .job-opening .content-address {
	width: 240px;
	padding-left: 10px;
}

.serbisyo-ads .job-opening .content-date {
	width: 85px;
}

@media (max-width: 660px) {
	.serbisyo-ads .job-opening .content-title,
	.serbisyo-ads .job-opening .content-address,
	.serbisyo-ads .job-opening .content-date {
		float: none;
		width: 100%;
		padding-left: 0;
		text-align: left;
	}

	.serbisyo-ads .job-opening .content-title {
		margin-bottom: 5px;
	}

	.serbisyo-ads .job-opening-body .sponsored {
		position: absolute;
		margin-top: -80px;
		right: -55px;
	}
}

/**  home-page **/

.home-page {
	background: #fff;
	position: relative;]
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}