<div>
	<!-- Filter Classification -->

	<div class="content-container whiteframe-z1" ng-class="{'whiteframe-z3': viewportWidth < 975 && contentHover1, 'whiteframe-z4': viewportWidth < 975 && contentClick1, 'content-1': viewportWidth < 975 && contentClick1}" ng-mouseover="contentHover1 = true" ng-mouseleave="contentHover1 = false" ng-click="contentClick1 = !contentClick1">
		<div class="form-group">
			<h6>
				<strong>Classification</strong>
				<br />
				<small>{{selectedSearchTypeTitle}}</small>
				<hr>
			</h6>
			<div class="radio input-sm" ng-click="setSearchType()">
				<label ng-x="{'font-weight': !selectedSearchTypeId ? 'bold': 'normal', 'color': !selectedSearchTypeId ? '#000': '#666666'}">
					All Classifications
					<i class="fa fa-check-circle fa-lg  color-success" ng-show="!selectedSearchTypeId"></i>
				</label>
			</div>
			<div class="radio input-sm" ng-repeat="searchType in searchType" ng-click="setSearchType(searchType)">
				<label>
					{{searchType.description}}
					<i class="fa fa-check-circle fa-lg  color-success" ng-show="selectedSearchTypeId == searchType.id"></i>
				</label>
			</div>
		</div>
	</div>

	<!-- Filter Category -->

	<div class="content-container whiteframe-z1" ng-class="{'whiteframe-z3': viewportWidth < 975 && contentHover2, 'whiteframe-z4': viewportWidth < 975 && contentClick2, 'content-2': viewportWidth < 975 && contentClick2}" ng-mouseover="contentHover2 = true" ng-mouseleave="contentHover2 = false" ng-click="contentClick2 = !contentClick2; viewportWidth < 975 ? limitCategory = lstCfgcategory.length : '';" ng-init="(viewportWidth < 975) ? limitCategory = lstCfgcategory.length : limitCategory = 10" ng-hide="selectedSearchTypeId == 4">
		<div class="form-group">
			<h6>
				<strong>Category</strong>
				<br />
				<small>{{selectedCategoryName}}</small>
				<hr>
			</h6>
			<div class="radio input-sm" ng-click="setCfgCategory()">
				<label>
					All Categories
					<i class="fa fa-check-circle fa-lg  color-success" ng-show="!selectedCategoryId"></i>
				</label>
			</div>
			<div class="radio input-sm category-filter" ng-click="setCfgCategory(cfgCategory)" ng-repeat="cfgCategory in lstCfgcategory | limitTo: limitCategory">
				<label>
					{{cfgCategory.cfgCategoryName}}
					<i class="fa fa-check-circle fa-lg  color-success" ng-show="selectedCategoryId == cfgCategory.pkCfgCategoryId"></i>
				</label>
			</div>
			<div class="radio input-sm show-category" ng-hide="viewportWidth < 975">
				<label ng-click="showMoreCategory()" ng-show="limitCategory == 10">
					<i class="fa fa-plus color-primary"></i>
					Show more
				</label>
				<label ng-click="showLessCategory()" ng-hide="limitCategory == 10">
					<i class="fa fa-minus color-primary"></i>
					Show less
				</label>
			</div>
		</div>
	</div>
</div>