<!-- Navigation -->

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#/" class="navbar-brand">
				<img src="images/serbisyo-logo.png" alt="Serbisyo.com" class="logo" />
			</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li class="background-color-primary"><a href="" style="color: #fff">Post free Ad</a></li>
			</ul>
			<ul class="nav navbar-nav" ng-show="loggedIn" ng-class="{'visible-xs': loggedIn}">
				<li ng-class="{'active': path == '/mydashboard'}">
					<a href="#/mydashboard">
						<span class="glyphicon glyphicon-user"></span>
						&nbsp;
						My Dashboard
					</a>
				</li>
				<li class="divider"></li>
				<li ng-class="{'active': path == '/settings'}">
					<a href="#/settings">
						<span class="glyphicon glyphicon-cog"></span>
						&nbsp;
						Settings
					</a>
				</li>
				<li ng-class="{'active': path == '/multilogin'}">
					<a href="#/multilogin">
						<span class="glyphicon glyphicon-th-list"></span>
						&nbsp;
						Multi Login
					</a>
				</li>
				<li class="divider"></li>
				<li ng-class="{'active': path == '/logout'}" ng-click="logout()">
					<a href="">
						<span class="glyphicon glyphicon-off"></span>
						&nbsp;
						Logout 
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right hidden-xs">
				<li class="background-color-primary" ng-show><a href="" style="color: #fff">Post free Ad</a></li>
				<li class="dropdown" ng-show="loggedIn">
					<a class="dropdown-toggle" data-toggle="dropdown" href="" id="menu">
						Pangit
						&nbsp;
						<img src="images/serbisyo-icons/no-profile-picture.png" alt="user-image" class="nav-image" />
						<i class="fa fa-angle-down fa-lg"></i>
					</a>
					<ul class="dropdown-menu" aria-labelledby="menu">
						<li ng-class="{'active': path == '/mydashboard', 'active': mydashboard}" ng-mouseover="mydashboard = true" ng-mouseleave="mydashboard = false">
							<a href="#/mydashboard">
								<i class="fa fa-user"></i>
								&nbsp;
								My Dashboard
							</a>
						</li>
						<li class="divider"></li>
						<li ng-class="{'active': path == '/settings', 'active': settings}" ng-mouseover="settings = true" ng-mouseleave="settings = false">
							<a href="#/settings">
								<i class="fa fa-cog" ng-class="{'fa-spin': settingsHover}"></i>
								&nbsp;
								Settings
							</a>
						</li>
						<li ng-class="{'active': path == '/multilogin', 'active': multilogin}" ng-mouseover="multilogin = true" ng-mouseleave="multilogin = false">
							<a href="#/multilogin">
								<i class="fa fa-list-ul"></i>
								&nbsp;
								Multi Login
							</a>
						</li>
						<li class="divider"></li>
						<li ng-class="{'active': logout}" ng-mouseover="logout = true" ng-mouseleave="logout = false" ng-click="logoutUser()">
							<a href="">
								<i class="fa fa-sign-out"></i>
								&nbsp;
								Logout
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-hide="loggedIn">
					<a class="dropdown-toggle" data-toggle="dropdown" href="" id="login">
						Sign in | Sign up
					</a>
					<ul class="dropdown-menu" aria-labelledby="login">
						<li ng-click="login()" ng-class="{'active': facebook}" ng-mouseover="facebook = true" ng-mouseleave="facebook = false">
							<a href="">
								<i class="fa fa-facebook"></i>
								&nbsp;
								Facebook
							</a>
						</li>
						<li ng-click="login()" ng-class="{'active': twitter}" ng-mouseover="twitter = true" ng-mouseleave="twitter = false">
							<a href="">
								<i class="fa fa-twitter"></i>
								&nbsp;
								Twitter
							</a>
						</li>
						<li ng-click="login()" ng-class="{'active': google}" ng-mouseover="google = true" ng-mouseleave="google = false">
							<a href="">
								<i class="fa fa-google"></i>
								&nbsp;
								Google
							</a>
						</li>
						<li ng-click="login()" ng-class="{'active': linkedin}" ng-mouseover="linkedin = true" ng-mouseleave="linkedin = false">
							<a href="">
								<i class="fa fa-linkedin"></i>
								&nbsp;
								LinkedIn
							</a>
						</li>
						<li ng-click="login()" ng-class="{'active': yahoo}" ng-mouseover="yahoo = true" ng-mouseleave="yahoo = false">
							<a href="">
								<i class="fa fa-yahoo"></i>
								&nbsp;
								Yahoo
							</a>
						</li>
					</ul>
				</li>
			</ul>

			<form class="navbar-form navbar-right" role="search" style="margin-left: 100px" ng-show>
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="I'm looking for..." />
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">
								&nbsp;
								<span class="glyphicon glyphicon-search"></span>
								&nbsp;
							</button>
						</span>
					</div>
				</div>
				<div class="form-group" ng-show>
					<input type="search" class="form-control" placeholder="I'm looking for..." ng-disabled />
					<button type="submit" class="btn btn-primary">
						&nbsp;
						<span class="glyphicon glyphicon-search"></span>
						&nbsp;
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Search Header -->

<div class="container-fluid header-search" style="margin-top: 64px;">
	<div class="row">
		<form class="col-lg-4 col-md-5 col-sm-6 col-lg-offset-8 col-md-offset-7 col-sm-offset-6">
			<div class="form-group">
				<div class="input-group input-group-sm">
					<input type="search" class="form-control searchkey whiteframe-z0" ng-model="search.key" placeholder="I'm looking for..." />
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" ng-click="searchSerbisyo()">
							&nbsp;
							<span class="glyphicon glyphicon-search"></span>
							&nbsp;
						</button>
					</span>
				</div>
				<div class="input-group input-group-sm location-input" ng-style="{'width': locationInputFocus || search.location ? '165px' : '100px'}">
					<label class="input-group-addon" for="location">
						<span class="glyphicon glyphicon-map-marker"></span>
					</label>
					<input type="text" name="location" id="location" class="form-control" ng-focus="locationInputFocus = !locationInputFocus" ng-blur="locationInputFocus = !locationInputFocus" ng-model="search.location" placeholder="{{locationInputFocus ? 'Enter Philippine city or town' : 'All Philippines'}}" ng-style="{'box-shadow': search.location == 'x' ? 'inset 0 -2px 0 #e51c23' : (search.location && locationInputFocus ? 'inset 0 -2px 0 #2196f3' : '')}" typeahead="CfgCitytown as CfgCitytown.citytownName for CfgCitytown in lstCfgCitytown | filter:$viewValue | limitTo:30" />
					<div class="popover fade bottom in popup-location-error" role="tooltip" ng-style="{'opacity': search.location == 'x' ? '1': '0', 'display': locationInputFocus || search.location == 'x' ? 'block' : 'none'}">
						<div class="arrow" style="left: 50%;"></div>
						<div class="popover-content">Enter Philippine city or town, province</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Go to top -->

<div class="container-fluid go-to-top" ng-class="{'whiteframe-z6': goTo, 'whiteframe-z2': !goTo}" ng-mouseover="goTo = true" ng-mouseleave="goTo = false" ng-click="goToTop()">
	<i class="fa fa-angle-up fa-3x"></i>
</div>