<div ng-include="'views/header.html'" ng-controller="HeaderCtrl"></div>

<!-- Main Page -->

<div class="container">
	<div class="content-container whiteframe-z0">
		<h1>z0</h1>
		<p>
			<a href="#" class="btn-flat btn-default">Default</a>
			<a href="#" class="btn-flat btn-primary">Primary</a>
			<a href="#" class="btn-flat btn-success">Success</a>
			<a href="#" class="btn-flat btn-info">Info</a>
			<a href="#" class="btn-flat btn-warning">Warning</a>
			<a href="#" class="btn-flat btn-danger">Danger</a>
		</p>
		<p>
			<a href="#" class="btn btn-default">Default</a>
			<a href="#" class="btn btn-primary">Primary</a>
			<a href="#" class="btn btn-success">Success</a>
			<a href="#" class="btn btn-info">Info</a>
			<a href="#" class="btn btn-warning">Warning</a>
			<a href="#" class="btn btn-danger">Danger</a>
			<a href="#" class="btn btn-link">Link</a>
		</p>
	</div>
	<br />
	<div class="content-container whiteframe-z1">
		<h1>z1</h1>
		<hr />
		<h4>Popovers</h4>
		<div class="bs-component">
			<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left</button>

			<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top</button>

			<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
			sagittis lacus vel augue laoreet rutrum faucibus.">Bottom</button>

			<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right</button>
		</div>
		<hr />
		<p>
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#sampleModal">
				Toggle Modal
			</a>
		</p>
	</div>
	<br />
	<div class="content-container whiteframe-z2">
		<h1>z2</h1>
	</div>
	<br />
	<div class="content-container whiteframe-z3">
		<h1>z3</h1>
	</div>
	<br />
	<div class="content-container whiteframe-z4">
		<h1>z4</h1>
	</div>
	<br />
	<div class="content-container whiteframe-z5">
		<h1>z5</h1>
	</div>
	<br />
	<div class="content-container whiteframe-z6">
		<h1>z6</h1>
	</div>
	<br />
	<br />
	<!-- <user-tile user="user1"></user-tile> -->
</div>