<div ng-include="'views/header.html'" ng-controller="HeaderCtrl"></div>

<!-- Search Page -->

<div class="container-fluid">

	<!-- Search Filters -->

	<div class="search-filters" ng-style="{'width': viewportWidth > 975 ? '275px' : ''}">
		<div class="content-container whiteframe-z1" ng-class="{'whiteframe-z3': viewportWidth < 975 && contentHover1, 'whiteframe-z4': viewportWidth < 975 && contentClick1, 'content-1': viewportWidth < 975 && contentClick1}" ng-mouseover="contentHover1 = true" ng-mouseleave="contentHover1 = false" ng-click="contentClick1 = !contentClick1">
			<div class="form-group">
				<h6>
					<strong>Classification</strong>
					<br />
					<small>{{selectedSearchTypeTitle}}</small>
					<hr>
				</h6>
				<div class="radio input-sm" ng-click="setSearchType()">
					<label ng-style="{'font-weight': !selectedSearchTypeId ? 'bold': 'normal', 'color': !selectedSearchTypeId ? '#000': '#666666'}">
						All Classifications
					</label>
				</div>
				<div class="radio input-sm" ng-repeat="searchType in searchType" ng-click="setSearchType(searchType)">
					<label ng-style="{'font-weight': selectedSearchTypeId == searchType.id ? 'bold': 'normal', 'color': selectedSearchTypeId == searchType.id ? '#000': '#666666'}">
						{{searchType.description}}
					</label>
				</div>
			</div>
		</div>
		<div class="content-container whiteframe-z1" ng-class="{'whiteframe-z3': viewportWidth < 975 && contentHover2, 'whiteframe-z4': viewportWidth < 975 && contentClick2, 'content-2': viewportWidth < 975 && contentClick2}" ng-mouseover="contentHover2 = true" ng-mouseleave="contentHover2 = false" ng-click="contentClick2 = !contentClick2; viewportWidth < 975 ? limitCategory = lstCfgcategory.length : '';" ng-init="(viewportWidth < 975) ? limitCategory = lstCfgcategory.length : limitCategory = 10">
			<div class="form-group">
				<h6>
					<strong>Category</strong>
					<br />
					<small>{{selectedCategoryName}}</small>
					<hr>
				</h6>
				<div class="radio input-sm" ng-click="setCfgCategory()">
					<label ng-style="{'font-weight': !selectedCategoryId ? 'bold': 'normal', 'color': !selectedCategoryId ? '#000': '#666666'}">
						All Categories
					</label>
				</div>
				<div class="radio input-sm" ng-click="setCfgCategory(cfgCategory)" ng-repeat="cfgCategory in lstCfgcategory | limitTo: limitCategory">
					<label ng-style="{'font-weight': selectedCategoryId == cfgCategory.pkCfgCategoryId ? 'bold': 'normal', 'color': selectedCategoryId == cfgCategory.pkCfgCategoryId ? '#000': '#666666'}">
						{{cfgCategory.cfgCategoryName}}
					</label>
				</div>
				<div class="radio input-sm show-category" ng-hide="viewportWidth < 975">
					<label ng-click="showMoreCategory()" ng-show="limitCategory == 10">
						<i class="fa fa-plus color-primary"></i>
						Show more
					</label>
					<label ng-click="showLessCategory()" ng-hide="limitCategory == 10">
						<i class="fa fa-minus color-primary"></i>
						Show less
					</label>
				</div>
			</div>
		</div>
	</div>

	<!-- Search Results -->

	<div class="search-results" ng-style="{'width': viewportWidth > 975 ? 'calc(100% - 290px)' : '100%', 'margin-left': viewportWidth > 975 ? '15px' : '0'}">

		<!-- Service Packages -->

		<div class="panel panel-default serbisyo-ads whiteframe-z1" ng-if="selectedSearchTypeId == 2 || !selectedSearchTypeId" ng-class="{'opacity1': selectedSearchTypeId == 2 || !selectedSearchTypeId, 'opacity0': selectedSearchTypeId != 2}">
			<div class="panel-heading">
				<strong>Service Packages</strong>
				<strong class="pull-right" ng-show="routeParams.page && selectedSearchTypeId == 2">Page <span class="current-page">{{routeParams.page}}</span> of {{numPagesServicePackage}}</strong>
			</div>
			<div class="panel-body cursor-pointer" ng-repeat="ServicePackage in lstServicePackageResult | startFrom: ((routeParams.page ? routeParams.page : 1) - 1) * 10 | limitTo: selectedSearchTypeId ? 10 : 5" ng-class="{'sponsored-body': $index == 0}" ng-click="showModal()">
				<div class="thumbnail">
					<img ng-src="{{ServicePackage.thumbnail || 'images/serbisyo-icons/no-tool-image.png'}}" class="img-responsive" alt="Service Package" style="width: 100%" />
				</div>
				<div class="serbisyo-ads-content">
					<div class="content">
						<h6 class="text-nowrap"><strong>{{ServicePackage.toolName}}</strong></h6>
						<div ng-show="ServicePackage.fkEmployeeId || ServicePackage.isNonIndividualPost || ServicePackage.cfgServicePriority == 1"><strong><small>{{ServicePackage.companyName}}</small></strong></div>
						<div class="text-justify hidden-xs"><small>{{ServicePackage.toolDescription | limitTo: 250}}<span ng-if="ServicePackage.toolDescription.length >= 250">...</span></small></div>
						<div class="text-justify visible-xs"><small>{{ServicePackage.toolDescription | limitTo: 100}}<span ng-if="ServicePackage.toolDescription.length >= 100">...</span></small></div>
					</div>
					<div class="content">
						<h6 class="text-nowrap">
							<strong>
								{{ServicePackage.rentPrice | currency: '&#8369; '}}
								<span ng-repeat="unit in priceUnit" ng-if="unit.id == ServicePackage.rentUnit">
									{{unit.description}}
								</span>
							</strong>
						</h6>
						<small>{{ServicePackage.barangayName}}, {{ServicePackage.citytownName}}, {{ServicePackage.stateprovinceName}}</small>
					</div>
				</div>
				<div class="sponsored-container" ng-show="$index == 0">
					<small class="sponsored">Sponsored</small>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="text-center" ng-if="!selectedSearchTypeId">
			<button type="button" class="btn btn-primary btn-sm" ng-click="browseMore('Service Packages')">
				Browse more service packages
			</button>
			<div class="clearfix"></div>
			<br />
			<br />
		</div>

		<!-- Pagination for Service Packages -->

		<div class="text-center" ng-show="selectedSearchTypeId == 2 && numPagesServicePackage > 1">
	        <pagination total-items="lstServicePackageResult.length"
	        			ng-model="pageServicePackage"
	                    ng-click="pageChangeServicePackage()"
	                    ng-show="viewportWidth > 767"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="10"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesServicePackage">
	        </pagination>
	        <div class="clearfix"></div>
	        <pagination total-items="lstServicePackageResult.length"
	        			ng-model="pageServicePackage"
	                    ng-click="pageChangeServicePackage()"
	                    ng-show="viewportWidth < 768"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="5"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesServicePackage">
	        </pagination>
	    </div>

	    <!-- Service Providers -->

		<div class="panel panel-default serbisyo-ads whiteframe-z1" ng-if="selectedSearchTypeId == 1 || !selectedSearchTypeId" ng-class="{'opacity1': selectedSearchTypeId == 1 || !selectedSearchTypeId, 'opacity0': selectedSearchTypeId != 1}">
			<div class="panel-heading">
				<strong>Service Providers</strong>
				<strong class="pull-right" ng-show="routeParams.page && selectedSearchTypeId == 1">Page <span class="current-page">{{routeParams.page}}</span> of {{numPagesForRent}}</strong>
			</div>
			<div class="panel-body cursor-pointer" ng-repeat="Service in lstServiceResult | startFrom: ((routeParams.page ? routeParams.page : 1) - 1) * 10 | limitTo: selectedSearchTypeId ? 10 : 5" ng-class="{'sponsored-body': $index == 0}">
				<div class="thumbnail">
					<img ng-src="{{Service.profilePicture}}" ng-show="Service.profilePicture && !Service.employeePicture" class="img-responsive" alt="Service Display Profile Picture" style="width: 100%" />
					<img ng-src="{{(!Service.fkEmployeeId && !Service.isNonIndividualPost && Service.cfgServicePriority == 0) ? 'images/serbisyo-icons/no-profile-picture.png' : ((Service.employeePicture) ? Service.employeePicture : 'images/serbisyo-icons/company-logo-default.png')}}" ng-hide="Service.profilePicture && !Service.employeePicture" class="img-responsive" alt="Service Display Picture" style="width: 100%" />
				</div>
				<div class="serbisyo-ads-content">
					<div class="content">
						<h6 class="text-nowrap"><strong>{{Service.serviceTitle}}</strong></h6>
						<div ng-show="Service.fkEmployeeId || Service.isNonIndividualPost || Service.cfgServicePriority == 1"><strong><small>{{Service.companyName}}</small></strong></div>
						<div class="text-justify hidden-xs"><small>{{Service.serviceDescription | limitTo: 250}}<span ng-if="Service.serviceDescription.length >= 250">...</span></small></div>
						<div class="text-justify visible-xs"><small>{{Service.serviceDescription | limitTo: 100}}<span ng-if="Service.serviceDescription.length >= 100">...</span></small></div>
						<div class="text-justify"><strong><small>{{Service.cfgServiceName}}</small></strong></div>
					</div>
					<div class="content">
						<h6 class="text-nowrap">
							<strong>
								<span ng-show="Service.servicePrice == 0 && !Service.isNonIndividualPost">Free</span>
								<span ng-show="Service.servicePrice == -1 && !Service.isNonIndividualPost">Call me for quotation</span>
								<span ng-repeat="unit in priceUnit" ng-if="unit.id == Service.serviceUnit && !Service.isNonIndividualPost && Service.servicePrice > 0">
									{{Service.servicePrice | currency: '&#8369; '}} {{unit.description}}
								</span>
							</strong>
						</h6>
						<small>{{Service.barangayName}}, {{Service.citytownName}}, {{Service.stateprovinceName}}</small>
					</div>
				</div>
				<div class="sponsored-container" ng-show="$index == 0">
					<small class="sponsored">Sponsored</small>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="text-center" ng-if="!selectedSearchTypeId">
			<button type="button" class="btn btn-primary btn-sm" ng-click="browseMore('Service Providers')">
				Browse more service providers
			</button>
			<div class="clearfix"></div>
			<br />
			<br />
		</div>

		<!-- Pagination for Service Providers -->

		<div class="text-center" ng-show="selectedSearchTypeId == 1 && numPagesServiceProvider > 1">
	        <pagination total-items="lstServiceResult.length"
	        			ng-model="pageServiceProvider"
	                    ng-click="pageChangeServiceProvider()"
	                    ng-show="viewportWidth > 767"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="10"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesServiceProvider">
	        </pagination>
	        <div class="clearfix"></div>
	        <pagination total-items="lstServiceResult.length"
	        			ng-model="pageServiceProvider"
	                    ng-click="pageChangeServiceProvider()"
	                    ng-show="viewportWidth < 768"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="5"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesServiceProvider">
	        </pagination>
	    </div>

	    <!-- For Rent -->

		<div class="panel panel-default serbisyo-ads whiteframe-z1" ng-if="selectedSearchTypeId == 3 || !selectedSearchTypeId" ng-class="{'opacity1': selectedSearchTypeId == 3 || !selectedSearchTypeId, 'opacity0': selectedSearchTypeId != 3}">
			<div class="panel-heading">
				<strong>For Rent Only</strong>
				<strong class="pull-right" ng-show="routeParams.page && selectedSearchTypeId == 3">Page <span class="current-page">{{routeParams.page}}</span> of {{numPagesServiceProvider}}</strong>
			</div>
			<div class="panel-body cursor-pointer" ng-repeat="ForRent in lstForRentResult | startFrom: ((routeParams.page ? routeParams.page : 1) - 1) * 10 | limitTo: selectedSearchTypeId ? 10 : 5" ng-class="{'sponsored-body': $index == 0}">
				<div class="thumbnail">
					<img ng-src="{{ForRent.thumbnail || 'images/serbisyo-icons/no-tool-image.png'}}" class="img-responsive" alt="For Rent" style="width: 100%" />
				</div>
				<div class="serbisyo-ads-content">
					<div class="content">
						<h6 class="text-nowrap"><strong>{{ForRent.toolName}}</strong></h6>
						<div ng-show="ForRent.fkEmployeeId || ForRent.isNonIndividualPost || ForRent.cfgServicePriority == 1"><strong><small>{{ForRent.companyName}}</small></strong></div>
						<div class="text-justify hidden-xs"><small>{{ForRent.toolDescription | limitTo: 250}}<span ng-if="ForRent.toolDescription.length >= 250">...</span></small></div>
						<div class="text-justify visible-xs"><small>{{ForRent.toolDescription | limitTo: 100}}<span ng-if="ForRent.toolDescription.length >= 100">...</span></small></div>
					</div>
					<div class="content">
						<h6 class="text-nowrap">
							<strong>
								{{ForRent.rentPrice | currency: '&#8369; '}}
								<span ng-repeat="unit in priceUnit" ng-if="unit.id == ForRent.rentUnit">
									{{unit.description}}
								</span>
							</strong>
						</h6>
						<small>{{ForRent.barangayName}}, {{ForRent.citytownName}}, {{ForRent.stateprovinceName}}</small>
					</div>
				</div>
				<div class="sponsored-container" ng-show="$index == 0">
					<small class="sponsored">Sponsored</small>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="text-center" ng-if="!selectedSearchTypeId">
			<button type="button" class="btn btn-primary btn-sm" ng-click="browseMore('For Rent')">
				Browse more for rent
			</button>
			<div class="clearfix"></div>
			<br />
			<br />
		</div>

		<!-- Pagination for For Rent -->

		<div class="text-center" ng-show="selectedSearchTypeId == 3 && numPagesForRent > 1">
	        <pagination total-items="lstForRentResult.length"
	        			ng-model="pageForRent"
	                    ng-click="pageChangeForRent()"
	                    ng-show="viewportWidth > 767"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="10"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesForRent">
	        </pagination>
	        <div class="clearfix"></div>
	        <pagination total-items="lstForRentResult.length"
	        			ng-model="pageForRent"
	                    ng-click="pageChangeForRent()"
	                    ng-show="viewportWidth < 768"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="5"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesForRent">
	        </pagination>
	    </div>

	    <!-- Job Openings -->

		<div class="panel panel-default serbisyo-ads whiteframe-z1" ng-if="selectedSearchTypeId == 4 || !selectedSearchTypeId" ng-class="{'opacity1': selectedSearchTypeId == 4 || !selectedSearchTypeId, 'opacity0': selectedSearchTypeId != 4}">
			<div class="panel-heading">
				<strong>Job Openings</strong>
				<strong class="pull-right" ng-show="routeParams.page && selectedSearchTypeId == 4">Page <span class="current-page">{{routeParams.page}}</span> of {{numPagesJobOpening}}</strong>
			</div>
			<div class="panel-body job-opening-body cursor-pointer" ng-repeat="JobOpening in lstJobOpeningResult | startFrom: ((routeParams.page ? routeParams.page : 1) - 1) * 10 | limitTo: selectedSearchTypeId ? 10 : 5" ng-class="{'sponsored-body': JobOpening.jobpostDescription}">
				<div class="job-opening">
					<div class="content-title text-nowrap">
						<strong>{{JobOpening.jobpostTitle}}</strong>
					</div>
					<div class="content-address text-nowrap">
						{{JobOpening.barangayName}}, {{JobOpening.citytownName}}, {{JobOpening.stateprovinceName}}
					</div>
					<div class="content-date text-right">
						<small>{{JobOpening.creationDate | date: 'dd MMM yyyy'}}</small>
					</div>
					<div class="sponsored-container" ng-show="JobOpening.jobpostDescription">
						<small class="sponsored">Sponsored</small>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="text-center" ng-if="!selectedSearchTypeId">
			<button type="button" class="btn btn-primary btn-sm" ng-click="browseMore('Job Openings')">
				Browse more job openings
			</button>
			<div class="clearfix"></div>
			<br />
			<br />
		</div>

		<!-- Pagination for Job Openings -->

		<div class="text-center" ng-show="selectedSearchTypeId == 4 && numPagesJobOpening > 1">
	        <pagination total-items="lstJobOpeningResult.length"
	        			ng-model="pageJobOpening"
	                    ng-click="pageChangeJobOpening()"
	                    ng-show="viewportWidth > 767"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="10"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesJobOpening">
	        </pagination>
	        <div class="clearfix"></div>
	        <pagination total-items="lstJobOpeningResult.length"
	        			ng-model="pageJobOpening"
	                    ng-click="pageChangeJobOpening()"
	                    ng-show="viewportWidth < 768"
	                    items-per-page="10"
	                    previous-text="&lsaquo;"
	                    next-text="&rsaquo;"
	                    first-text="&laquo;"
	                    last-text="&raquo;"
	                    max-size="5"
	                    class="pagination-sm whiteframe-z1"
	                    boundary-links="true"
	                    rotate="false"
	                    num-pages="numPagesJobOpening">
	        </pagination>
	    </div>

	    <div class="clearfix"></div>
    </div>
</div>