<div ng-include="'views/header.html'" ng-controller="HeaderCtrl"></div>

<!-- Search Page -->

<div class="container-fluid">

	<!-- Search Filters -->

	<div class="search-filters" ng-style="{'width': viewportWidth > 975 ? '275px' : ''}">
		<serbisyo-search-filter></serbisyo-search-filter>
	</div>

	<!-- Search Results -->

	<div class="search-results" ng-style="{'width': viewportWidth > 975 ? 'calc(100% - 290px)' : '100%', 'margin-left': viewportWidth > 975 ? '15px' : '0'}">

		<!-- serbisyo-ads-result -->

		<serbisyo-ads-result search-type="selectedSearchTypeId" heading="selectedSearchTypeTitle" results="results" items-per-page="itemsPerPage" current-page="routeParams.page" num-pages="numPages"></serbisyo-ads-result>

		<!-- Pagination for Service Packages -->

		<serbisyo-pagination ng-show="routeParams.page <= numPages && results.length"></serbisyo-pagination>

	    <div class="clearfix"></div>
    </div>
</div>

<serbisyo-asset-dialog></serbisyo-asset-dialog>